.App {
	text-align: center;
}

.App-logo {
	height: 60px;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}
.form-group {
	display: flex;
	justify-content: space-between;
	padding: 0.75rem 0rem;
}

.container {
	position: relative;

	background: #161b22;
	padding: 25px 30px;
	border: 2px solid #21262d;
	border-radius: 25px;
	color: white;
}

.heading {
	position: relative;
	justify-content: center;
	align-items: center;
	color: rgb(255, 4, 4);
	letter-spacing: 1px;
	font-weight: 800;
	text-align: center;
}
.footer {
	bottom: 0;
	display: flex;
	width: 100%;
	color: white;
	margin-top: 3rem;
	font-size: large;
	justify-content: space-between;
}
.label {
	/* display: flex;
	flex-direction: row;
	justify-content: center; */
	/* text-align: left; */

	font-size: xx-large;
}

.title {
	text-align: center;
	color: yellowgreen;
	margin-bottom: 40px;
	letter-spacing: 1px;
	font-size: 20px;
}

.input {
	/* display: flex;
	flex-direction: row;
	justify-content: center;
	text-align-last: center;*/

	width: 50%;
	font-weight: 100;
}

.button {
	background-color: #c78813; /*Orange G*/
	border: none;
	border-radius: 8px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 22px;
	font-family: "Nunito", sans-serif;
	width: 200px;
	cursor: pointer;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
